@import 'settings';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  // background-color: red;
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
}

ul,li{
  list-style: none;
  text-decoration: none;
}

.btn{
  background-color: $teal;
  outline: none !important;
  box-shadow: none !important;
  border-color: none !important;
  color: white;

  &:active{
    background-color: $teal;
  }

  &:focus{
    background-color: $teal;
  }

  &:hover{
    background-color: #5c636a;
    color: #fff;
  }
}

.activeRoom{
  background-color: #5c636a;
  color: #fff;
}

.inputsContainer{
  .btn{
    min-width: 10%;
  }

  .input-group-text{
    min-width: 12%;
  }

  .form-control:focus{
    box-shadow: none !important;
  }
}

section{
  margin-top: 50px;
}

.mainContainer{
  text-align: center;

  .mainTitle{
    font-size: 4rem;
  }
}

.chat{
  .inputsContainer{
    margin-top: 0;
  }

  .chat-list{
    .message{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: start;

      width: 100%;
      margin-bottom: 1rem;
      padding: 10px 20px;

      border: 1px solid #ced4da;
      border-radius: .25rem;

      .username{
        flex-grow: 0;
        margin-bottom: .3rem;
        letter-spacing: 1px;
        font-weight: 900;
        color: grey;
      }

      .message-text{
        flex-grow: 1;
        text-align: left;
      }

      .time{
        // width: 100%;
        align-self: flex-end;
        margin-bottom: 0;
        text-align: right;
        font-size: .8rem;
        color: grey;
      }
    }
  }
}

.newUsername{
  display: inline-block;
  // margin-left: 10px;
  letter-spacing: 1px;
  font-weight: 900;
  color: grey;
}